<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

<header>

</header>

<main>
    <div class="jumbotron">
			<h1>Update incorporation status</h1>
			
				<div>

					<div>
						<span>Application Submitted:</span>
						<select id="submited">
							<option value="<%= status.submited %>"><%= status.submited %></option>
							<option value="<%= !status.submited %>"><%= !status.submited %></option>
						</select>
						<button onclick="updateSubmited('<%= incorporation.uuid %>')">Update</button>
					</div>
					<div>
						<span>Payment Accepted:</span>
						<select id="payment">
						<option value="<%= status.payed %>"><%= status.payed %></option>
						<option value="<%= !status.payed %>"><%= !status.payed %></option>
						</select>
						<button onclick="updatePayment('<%= incorporation.uuid %>')">Update</button>
					</div>
					<div>
						<span>Reviewing Application:</span>
						<select id="review">
						<option value="<%= status.reviewed %>"><%= status.reviewed %></option>
						<option value="<%= !status.reviewed %>"><%= !status.reviewed %></option>
						</select>
						<button onclick="updateReview('<%= incorporation.uuid %>')">Update</button>
					</div>
				</div>
			</table>
    </div>
</main>

<footer>

</footer>

</body>
</html>