<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

<header>

</header>

<main>
    <div class="jumbotron">
			<h1>Billing Information</h1>
				<div>
				<table>
					<th>
						<td>Uuid</td>
						<td>First name</td>
						<td>Last name</td>
						<td>Email</td>
						<td>Adress line 1</td>
						<td>Adress line 2</td>
						<td>Country</td>
						<td>City</td>
						<td>Postal code</td>
					</th>
					<tr>
						<td><%= information.uuid %></td>
						<td><%= information.firstName %></td>
						<td><%= information.lastName %></td>
						<td><%= information.email %></td>
						<td><%= information.al1 %></td>
						<td><%= information.al2 %></td>
						<td><%= information.country %></td>
						<td><%= information.city %></td>
						<td><%= information.postal %></td>
					
					</tr>
					</table>
		
				</div>
			</table>
    </div>
</main>

<footer>

</footer>

</body>
</html>